address {
    font-style: normal;

  }

  .role {
    font-weight: bold;
    grid-column: 1 / span 2;

  }

  .position {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 25px;

  }

  .employment-date {
    text-align: right;
  }

  .description {
    grid-column: 1 / span 1;
    font-style: italic;

  }

  li {
    font-style: italic;
  }

  .employer {
    margin-top: 0;

  }

  body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    color: #dae1e7;
    background-color: #27496d;

  }

  .container {
    background-color: #142850;
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }

  .role {
    color: #00909e;

  }

  h1 {
    margin-top: 0;
    color: #00909e;
    border-bottom: 1.5px groove #dae1e7;
  }

  h2 {
    color: #00909e;

  }